################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Jala.Custom.ModelBinder/bin/Debug/net6.0
/Jala.Custom.ModelBinder/obj/Debug/net6.0
/Jala.Custom.ModelBinder/obj
/.vs/Jala.Custom.ModelBinder
